html, body {
    margin: 0; 
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}




/* HEADER  */
#header-container-outer {
    height: 75px;
}

#header-container-inner {
    border-bottom: 1px solid whitesmoke;
    position: fixed;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

#title {
    color: whitesmoke;
}
    

#button-container {
    display: flex;
    color: white;
}

.planet-button {
    width: 75px; 
    height: 75px;
    margin-left: 5px; 
    overflow: hidden;
}


.planet-button span {
    position: absolute;
    transition: all .75s ease-in-out;
}


.button-img-container {
    transition: all .75s ease-in-out;
}

.planet-button:hover > .button-img-container {
    transform: scale(1.2);
    cursor: pointer;
}

.planet-profile-outer {
    /* text-align: right; */
    /* display: flex; */
}

.object-profile {
    border: 1px solid red;
    position: absolute;
    right: 0%;
    background-color: transparent;
    color: white;
    width: 250px;
    display: none;
}

/* HEADER  */

#canvas-container {
    width: 100%; 
    height: 100%;
}

#main-canvas {
    width: 100%; 
    height: 100%; 
    display: block; 
    background-color: black;
}

/* modal */
.modal-button {
    background:rgb(33, 3, 51);
    color: white; 
    border: 0; 
}

.modal-button:hover {
    background: #333;
}

.modal {
    background: 3px solid pink;
    /* change the below to block  */
    display: block;
    position: fixed; 
    z-index: 1;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;  
    background-color: rgba(0, 0, 0, 0.5)  
}

.modal-content {
    background-color: #c9c88b;
    margin: 10% auto;
    width: 70%;  
    box-shadow: 10px 5px 8px 0 rgba(255, 255, 255, 0.2), 0 7px 20px 0 rgba(255, 255, 255, 0.17);

    animation-name:modalopen; 
    animation-duration:1s; 
}


.modal-header {
    background-color: rgb(33, 3, 51);
    padding: 15px; 
    color: white; 
    text-align: center;
}

.modal-body {
    padding: 10px 20px; 
}

.modal-footer {
    background: rgb(33, 3, 51); 
    padding: 10px; 
    color: white; 
    text-align: center;
    bottom: 0;
}

.closeBtn {
    color: white; 
    float: right; 
    font-size: 30px; 
}

.closeBtn:hover, closeBtn:focus {
    color: #000; 
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen{
    from{ opacity: 0 }
    to { opacity: 1 }
}

/* footer */

.inner-footer {
    display: flex;
    justify-content: space-evenly;
}

.inner-footer > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/* footer */


/* 
.planet-profile-outer {
    border: 1px solid red; 
    height: 0;
    display: flex;
    flex-direction: column;
} */

/* .planet-profile-inner {
    float: right;
    position: relative;
    display: none;
    color: white;
    align-self: flex-end;
    border: 1px solid red; 
} */




